# Flutter
crm_planete_verte/build/
crm_planete_verte/.dart_tool/
crm_planete_verte/.idea/

# Python
crm_backend/__pycache__/
crm_backend/db.sqlite3

# VS Code
.vscode/

# System
.DS_Store
*.log

# Personal / report / design folders
rapport_pfe_latex/
Design_app/
project_management/

# Python cache
__pycache__/
*.pyc
*.pyo

# Draw.io temporary files
*.bkp
*.dtmp
.~*

# Local temporary files
token_body.json